@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Satoshi.woff2") format("woff2"),
    url("../public/fonts/Satoshi.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Zephyr";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Zephyr.woff2") format("woff2"),
    url("../public/fonts/Zephyr.woff") format("woff");
  font-display: fallback;
}
